{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% if listings %}
        <ul>
            {% for item in listings %}
            <a href="{% url 'listing_page' item.pk %}">
                <div>
                    <li>
                        <h3>Title: {{ item.title }}</h3>
                        <ul>
                            <li>Description: {{ item.description }}</li>
                            <li>Starting price: ${{ item.price }}</li>
                        </ul>
                    </li>
                </div>
            </a>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}