{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% if listings %}
        <ul style="list-style-type: none;">
            <div class="container">
                <div class="row row-cols-4" style="column-gap: 1em; row-gap: 0.5em;">
                    {% for item in listings %}
                        <li>
                            <div class="col card" style="width: 18rem; border-radius: 20px;">
                                <a href="{% url 'listing_page' item.pk %}" style="text-decoration: none; color: black;">
                                {% if item.img %}
                                    <img class="card-img-top" src="{{ item.img.url }}" alt="Listed item image" style="border-radius: 10%;">
                                {% else %}
                                    <img src="" alt="No image listed">    
                                {% endif %}
                                    <div class="card-body">
                                        <h5 class="card-title">{{ item.title }}</h5>
                                        <p class="card-text">Description: {{ item.description }}</p>
                                        <p class="card-text">Starting price: ${{ item.price }}</p>
                                    </div>
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </div>
            </div>
        </ul>
    {% else %}
        <div class="alert alert-warning" role="alert">
            <h3>{{ no_category_item }}</h3>
        </div>
    {% endif %}
{% endblock %}