{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ listing.title }} </h2>
    {% if listing.img %}
    <section>
        <figure>
            <img src="{{ listing.img.url }}" alt="Listed item image" style="width: 300px;">
        </figure>
    </section>
    {% endif %}
    <p>Description: {{ listing.description }}</p>
    <h3>Current price: ${{ listing.price }} </h3>
    <div>
        <form action="">

        </form>
    </div>
    <h4>Details:</h4>
    <ul>
        <li>Listed by: {{ listing.username }} </li>
        <li>Category: {{ listing.category }} </li>
    </ul>
{% endblock %}