{% extends "auctions/layout.html" %}

{% block body %}
        <h2>Listing: {{ listing.title }} </h2>

        {% if listing.img %}
        <section>
            <figure>
                <img src="{{ listing.img.url }}" alt="Listed item image" style="width: 300px;">
            </figure>
        </section>
        {% endif %}

        <p>Description: {{ listing.description }}</p>
        <h3>Current price: ${{ winning_bid.value }} </h3>

        {% if user.is_authenticated and not_active == False%}
            <!-- Adding or removing watch list -->
            <div style="display: inline-block;">
                <form style="display: inline-block;" action="{% url 'watchlist' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="watchlist" value="{{ listing.pk }}">
                    <button type="submit" class="btn btn-primary">Watchlist</button>
                </form>
            </div>
            <div style="display: inline-block;">
                {% if listing.username == request.user and not_active == False %}
                <form action="{% url 'listing_page' listing.pk %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="sold" value="{{ listing.pk }}">
                    <button type="submit" class="btn btn-primary">Sell</button>
                </form>
                {% endif %}
            </div>
            <!-- Bidding for the product -->
            {% if message %}
                <h4 style="padding-top: 10px;">{{ message }}</h4>
            {% endif %}
            {% if winning_bid and winning_bid.username != listing.username %}
                {% if winning_bid.username == request.user%}
                    <h6 style="padding-top: 10px;">Your Bid is the current bid!</h6>
                {% else %}
                    <h6 style="padding-top: 10px;">The current Bid is from {{ winning_bid.username }}!</h6>
                {% endif %}
            {% endif %}
        {% endif %}
        {% if not_active == True and user.is_authenticated %}
            {% if winning_bid.username == request.user %}
                <h3>You Won!! This Listing was bought by You !!!!</h3>
            {% else %}
                <h3>This Listing was bought by: {{ winning_bid.username }}!!!!</h3>
            {% endif %}
        {% else %}
            {% if user.is_authenticated %}
            <div style="padding-top: 10px;">
                <form action="{% url 'listing_page' listing.pk %}" method="post">
                    {% csrf_token %}
                    <div class="form-group row" style="display: inline-block;">
                        <div class="col-sm-10" >
                            {{ bid_form }}
                        </div>
                    </div>
                    <div class="form-group row" style="display: inline-block;">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Bid</button>
                        </div>
                    </div>
                </form>
            </div>
            {% endif %}
        {% endif %}
        
        <h4>Details:</h4>
        <ul>
            <li>Listed by: {{ listing.username }} </li>
            <li>Category: {{ listing.category }} </li>
        </ul>

        {% if listing_comment %}
            <ul class="list-group list-group-flush" style="list-style-type: none;">
                {% for item in listing_comment %}
                <div style="display: flex; justify-content: start; align-items: center;">
                    <li class="list-group-item">
                        <h5 style="display: inline;">Comment:</h5> <h6 style="font-style: italic; display: inline;">{{ item.comments }}</h6>
                        <ul style="list-style-type: none;">
                            <li>Author: {{ item.username }}</li>
                        </ul>
                    </li>
                </div>
            {% endfor %}
            </ul>
        {% endif %}

        {% if user.is_authenticated %}
            <div style="padding-top: 10px;">
                <form action="{% url 'listing_comment' listing.pk %}" method="post">
                    {% csrf_token %}
                    <div class="form-group row" style="display: inline-block;">
                        <div class="col-sm-10" >
                            {{ comment_form }}
                        </div>
                    </div>
                    <div class="form-group row" style="display: inline-block;">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Post</button>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
{% endblock %}