{% extends "auctions/layout.html" %}

{% block title %}
    Watchlist
{% endblock %}

{% block body %}
    {% if message %}
        <h2>{{ message }}</h2>
    {% endif %}

    {% if watch %}
        <ul style="list-style-type: none;">
            {% for item in watch %}
            <div>
                <li>
                    <a href="{% url 'listing_page' item.listing.pk %}" style="text-decoration: none; color: black;">
                        <h3>Title: {{ item.listing.title }}</h3>
                        <ul style="list-style-type: none;">
                            <li>Description: {{ item.listing.description }}</li>
                            <li>Starting price: ${{ item.listing.price }}</li>
                        </ul>
                    </a>
                    <form style="display: inline-block;" action="{% url 'watchlist' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="unwatchlist" value="{{ item.listing.pk }}">
                        <button type="submit" class="btn btn-primary" >Unwatch</button>
                    </form>
                </li>
            </div>
            {% endfor %} 
        </ul>
    {% else %}
        <h3>You don't have a Wishlist item to be shown!</h3>
    {% endif %}
{% endblock %}